/* ----------------- MAIN STYLES ----------------- */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  align-items: center;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

/* ----------------- HEADER SECTION ----------------- */
.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.figures-section {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 80vh;
}
.header-figures {
  display: flex;
  margin: 10vh auto;
  height: 75vw;
  width: 75vw;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.figure {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}
.outer {
  background-color: black;
  border: 10px solid black;
  animation: outer-anim 5s infinite linear;
}
@keyframes outer-anim {
  0%, 24% {
    background-color: black
  }
  25%, 49% {
    background-color: white;
    border-color: white black;
  }
  50%, 74% {
    background-color: black;
    border-color: black white;
  }
  75%, 99% {
    background-color: white;

  }
}
.mid {
  background-color: white;
  border: 20px solid white;
  animation: mid-anim 5s infinite linear;
}
@keyframes mid-anim {
  0%, 24% {
    background-color: white;
    border-color: black white;
  }
  25%, 49% {
    background-color: black;
  }
  50%, 74% {
    background-color: white;
    border-color: white black;
  }
  75%, 99% {
    background-color: white;
  }
}
.inner {
  background-color: white;
  border: 5vw solid black;
  animation: inner-anim 5s infinite linear;
}
@keyframes inner-anim {
  0% {
    border-color: black white;
  }
  25% {
    border-color: white black;
  }
  50% {
    border-color: white black;
  }
  75%{
    border-color: black white;
  }
}
.header-cr {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 0.2em;
  padding-right: 0.2em;
  transform: rotate(-45deg);
  font-weight: normal;
  z-index: 1;
}

/* ----------------- LINKS SECTION ----------------- */
.nav {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 20vh;
  width: 100%;
  top: 0;
  z-index: 99;
}
.nav-title {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  text-transform: lowercase;
  padding-left: 1rem;
}
.nav-title > * {
  padding-top: 0.5rem;
}
.nav-name {
  font-weight: 100;
  letter-spacing: -0.05rem;
  padding-right: 1rem;
}
.nav-record {
  font-weight: 300;
  letter-spacing: 0.9rem;
  /* padding-left: 1rem; */
}
.nav li {
  text-align: center;
  display: inline-block;
}
.nav-link {
  box-sizing: border-box;
  display: inline-block;
}
.nav-link i {
  padding: 0 2rem;
  font-size: 1.5rem;
}
.fixed-nav .nav {
  position: fixed;
}

/* ----------------- COVER SECTION ----------------- */
.album-cover {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 85vh;
  width: 100vw;
  overflow: hidden;
}
.cover-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.album-cover img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  opacity: 1;
}
.cover-gradient {
  pointer-events: none;
  box-sizing: border-box;
  background-image:
    radial-gradient(transparent 50%, white 65%);
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
}

/* ----------------- SONGS SECTION ----------------- */
.songs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;
  margin-bottom: 5vh;
}
.track {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
.track-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 1rem 2rem 2rem;
  margin-left: -1rem;
  background-image:
    linear-gradient(to right, white 90%, transparent);
  z-index: 1;
}
.track-name h3 {
  align-self: center;
  padding-top: 1.5rem;
  font-weight: 300;
  text-transform: lowercase;
  writing-mode: vertical-lr;
}
.track-number {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 3rem;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
}

.track-interactive {
  padding: 0 2rem;
  width: 100%;
}
.media-player {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
}
.track-lyrics p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-top: 1rem;
  padding-left: 0.3rem;
  text-transform: lowercase;
}

/* ----------------- MEDIA QUERIES ----------------- */
