/* ----------------- MAIN STYLES ----------------- */
body {
  font-family: 'Spartan', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

/* ----------------- HEADER SECTION ----------------- */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.hero-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.hero-title {
  align-items: center;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
}
.hero-name {
  letter-spacing: -0.05rem;
  padding: 0.75rem;
}
.hero-record {
  font-weight: 300;
  letter-spacing: 0.8rem;
  padding: 0.75rem;
}
.hero_cr {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 1.7rem;
  padding-right: 0.4rem;
  position: absolute;
  z-index: 1;
}
.hero-figures {
  display: flex;
  margin: 10vh auto;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.hero-title {
  display: flex;
  flex-direction: row;
}
.figure {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 80%;
  justify-content: center;
  width: 80%;
}
.figure1 {
  background-color: black;
  border: 10px solid black;
  animation: fig1-anim 5s infinite linear;
}
@keyframes fig1-anim {
  0%, 24% {
    background-color: black
  }
  25%, 49% {
    background-color: white;
    border-color: white black;
  }
  50%, 74% {
    background-color: black;
    border-color: black white;
  }
  75%, 99% {
    background-color: white;

  }
}
.figure2 {
  background-color: white;
  border: 10px solid white;
  animation: fig2-anim 5s infinite linear;
}
@keyframes fig2-anim {
  0%, 24% {
    background-color: white;
    border-color: black white;
  }
  25%, 49% {
    background-color: black;
  }
  50%, 74% {
    background-color: white;
    border-color: white black;
  }
  75%, 99% {
    background-color: white;
  }
}
.figure3 {
  background-color: white;
  border: 40px solid black;
  animation: fig3-anim 5s infinite linear;
}
@keyframes fig3-anim {
  0% {
    border-color: black white;
  }
  25% {
    border-color: white black;
  }
  50% {
    border-color: white black;
  }
  75%{
    border-color: black white;
  }
}

/* ----------------- HEADER LINKS ----------------- */
.header-links {
  align-items: center;
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
}
.header-links li {
  text-align: center;
  display: inline-block;
  margin: 0 0.5em;
}
.header-links i {
  padding: 3rem;
  font-size: 1.5rem;
}
.fixed-nav nav {
  position: fixed;
}
.nav-link {
  box-sizing: border-box;
  display: inline-block;
}
.fixed-nav .nav-link {
  display: inline-block;
}

/* ----------------- SONGS SECTION ----------------- */
.album-cover {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 80vh;
  overflow: hidden;
}
.cover-container {
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 450px;
  max-height: 450px;
  overflow: hidden;
}
.cover-gradient {
  border-radius: 50%;
  background-image:
    radial-gradient(transparent 50%, white 70%);
  position: absolute;
  width: 450px;
  height: 450px;
}
.album-cover img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}


/* ----------------- SONGS SECTION ----------------- */
.songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70vh;
  max-width: 100vw;
  padding: 3rem;
}
.track {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  padding-top: 2rem;
  margin-bottom: 5vh;
}
.track-name {
  background-image: linear-gradient(to right, white, transparent);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-left: 0;
  z-index: 1;
}
.track-name h3 {
  font-weight: 300;
}
.track-name:hover + .track-lyrics {
  animation: lyrics-appear 0.5s forwards ease-out;
}
@keyframes lyrics-appear {
  100% {
    transform: translateX(0%);
  }
}
.track-name p {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 0.4rem;
}
.track-name h3 {
  margin-top: 1rem;
  /* text-orientation: upright; */
  text-transform: lowercase;
  writing-mode: vertical-lr;
}
.track-lyrics {
  padding-right: 3rem;
  transform: translateX(-120%);
}
.track-lyrics p {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

/* ----------------- MEDIA QUERIES ----------------- */
/* TABLETS AND IPADS PORTRAIT */
@media (max-width: 1024px) {
  body {
    min-width: 1024px;
  }
  .track {
    max-height: 90vh;
    min-width: 50%;
  }
}
/* LOW-RES TABLETS AND IPADS */
@media (max-width: 767px) {
  body {
    min-width: 767px;
  }
  .track {
    max-height: 90vh;
    min-width: 100%;
  }
}
/* MOBILE */
@media (max-width: 480px) {
  body {
    min-width: 480px;
  }
  .header-links i {
    padding: 3rem;
    font-size: 3rem;
  }
}
